.hero-slider{
    &__slide{
        height: 66.5rem;
        display: flex!important;
        align-items: flex-start;
    }
    &__text{ 
        width: 100%;
        padding: 4rem 3rem 8rem 0;
        background-color:rgba(map-get($brand-colours, brandBeige),0.7);

        @include media-md{
            padding: 7rem 3rem 8rem 0;
        }

        @include media-lg{
            background: linear-gradient(90deg, map-get($brand-colours, brandBeige) 55%, transparent 45%);
        }        
    }
    &__usp-text{
        font-size:$fs-hero-xlarge;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 3rem;

       @include media-md{
            font-size:$fs-xxxlarge;
        }
    }
    &__loan-text{
        font-size: $fs-medium;
        margin-bottom: 1rem;

        @include media-lg{
            margin-bottom: 3rem;
        }
    }

    &__image{
        width: 100%;
        height: 66.5rem;
        position: absolute;
        right: 0;
        display: block;
        z-index: -1;

        @include media-lg{
            width: 70%;
        }

        &::after{
            content: ' ';
            background-repeat: no-repeat;
            background-size: cover;    
            background-position: 50%;       
            display: block;
            width: 100%;
            height: 100%;
        }

        &--1::after{
            @include bg-img(img-hero-1,jpg);
        }
        &--2::after{
            @include bg-img(img-hero-2,jpg);
        }
        &--3::after{
            @include bg-img(img-hero-3,jpg);
        }
    }
}

.btn-hero{
    font-size: $fs-large;
    padding: 1rem 3rem 1.2rem;
    border-radius: 4rem;
}


