.calc-block{   
    &__inner{
        padding: 5rem 0 0;
        background-color: map-get($brand-colours, lightBlueShade);
    }    
    &__footer{
        background-color: map-get($brand-colours, brandPrimary);
        display: block;
        overflow: hidden;
        svg{
            width: 101%;
            margin-left: -2px;
            margin-top: -2px;
        }

    }
}

.why-choose-block{
    background-color: map-get($brand-colours, brandPrimary);
    color: map-get($brand-colours, white);

    &__footer{
        display: block;
        overflow: hidden;
        svg{
            width: 101%;
            margin-left: -2px;
            margin-top: -2px;
        }
    }
}


.compare-block{
    margin-top: 8rem;
    &__title{
        font-size: $fs-xxlarge;
        font-weight: 600;
        color: map-get($brand-colours, brandPurple);
    }
    &__desc{
        font-size: $fs-medium;
        margin-top: 1rem;
    }

    &__table{
        thead{
            th{
                vertical-align: middle;
                border-top: none;
                border-bottom: 1px solid map-get($brand-colours, lightPurpleShade);

                &.th-heading{
                    font-size: $fs-xlarge;
                    width: 30%;
                    padding-right: 3rem;
                    font-weight: normal;
                }
            }
        }
        td{
            border-bottom: 1px solid map-get($brand-colours, lightPurpleShade);
            padding: 2rem 0.75rem;
            font-size: $fs-large;
            vertical-align: middle;

            &.td-cbl-val{
                font-size: $fs-xlarge;
                color: map-get($brand-colours, brandPurple);
            }
            &.td-heading{
                font-size: $fs-primary;
            }
        }
    }

    &__text{
        @include media-lg{
            padding-right: 3rem;
        }
    }
    &__data{
        @include media-lg{
            padding-left: 5rem;
        }
    }
}

.blue-tick-list{
    li{
        position: relative;
        font-size: $fs-large;
        list-style-position: outside;
        padding-left: 3.5rem;
        margin-top: 1rem;

        &::before{
            content: '';
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            @include bg-img(icon-blue-tick,svg);
            background-size: 24px 24px;
            margin-right: 1.5rem;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

}