.calc-block{  
    &__inner{
        padding: 5rem 0 0;
        background-color: map-get($brand-colours, lightBlueShade);
    }    
    &__footer{
        background-color: map-get($brand-colours, brandPrimary);
        display: block;
        overflow: hidden;
        margin-top: -1px;
        svg{
            width: 101%;
            margin-left: -2px;
            margin-top: -3px;
        }

    }
    &__alert{
        position: absolute;
        bottom: -10px;
        left: 0;
        //transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: $calc-border-radius;
    }
}
.cb-info-block{
    background-color: map-get($brand-colours, brandBeige);
    border-radius: $calc-border-radius;
    padding: 3rem;

    &__cb-frequency{
        display: flex;
        flex-wrap: wrap;

        .form-check-label{
            &::before{
                background-color: map-get($brand-colours, white);
                border: none;
                width: 3.2rem;
                height: 3.2rem;
            }
            &::after{
                top: 10px;
                left: 10px;
                border: 6px solid currentColor;
            }
        }
        .form-check-input:checked+.form-check-label:before{
            background-color: map-get($brand-colours, lightPurpleShade);
        }
    }
    &__cb-amount{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: (map-get($breakpoints, large))) and(max-width: (map-get($breakpoints, x-large))) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__num-child, &__cb-frequency, &__cb-amount{
        margin-top: 2rem;
        @include media-lg{
            margin-top: 0;
        }
    }
}

.num-child-block{
    position: relative;
    max-width: 12rem;
    margin-top: 1rem;

    &__ctrl{
        width: 3.2rem;
        height: 3.2rem;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 32px 32px;
        position: absolute;
        top: 0;

        &--plus{
            @include bg-img(icon-cb-plus,svg);
            right: 0;
        }
        &--minus{
            @include bg-img(icon-cb-minus,svg);
            left: 0;
        }
    }
    &__input{
        width: 100%;
        border: 0;
        border-radius: 3rem;
        padding: 0.4rem 4rem;
        text-align: center;
    }
}

.loan-options-block{
    margin-top: 2rem;
    align-items: flex-start;

    @include media-md{
        align-items: stretch;
    }

    &__slider-block{
        background: map-get($brand-colours, white);
        border-radius: $calc-border-radius;
        padding: 3rem 5rem 7rem 3rem;
        height: 100%;
    }
    &__loan-details{
        position: relative;
        background: map-get($brand-colours, brandPurple);
        border-radius: $calc-border-radius;
        padding: 2rem 3rem 3rem;
        height: 100%;
        color: map-get($brand-colours, white);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        @include media-md{
            margin-top: 0;
        }
    }

    &__loan-item{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    &__item-val{
        font-size: $fs-large;
        font-weight: 600;
    }
}

.breakdown-block{
    background-color: map-get($brand-colours, white);
    padding: 3rem;
    margin-top: 2rem;
    border-radius: $calc-border-radius;

    &__item{
        width: 14.5rem;
        height: 14.5rem;
        border-radius: 50%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-top: 1rem;
        @include media-lg{
            margin-top: 0;
        }
        
        &--benefit{
            background-color: map-get($brand-colours, brandBeige);
        }
        &--loan{
            background-color: map-get($brand-colours, brandPurple);
            color: map-get($brand-colours, white);
        }
        &--savings{
            background-color: map-get($brand-colours, brandPrimary);
            color: map-get($brand-colours, white);
            position: relative;
        }
        &--funds{
            background-color: map-get($brand-colours, lightBlueShade);
        }
    }

    &__more-info{
        width: 100%;
        height: 100%;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 16px 16px;
        background-color: transparent;
        
        @include bg-img(icon-info,svg);

        &--light{
            @include bg-img(icon-info-light,svg);
        }
    }
    &__popover-link{
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        margin: 1rem auto 0;
    }

    &__change-savings{
        width: 3.2rem;
        height: 3.2rem;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 32px 32px;
        position: absolute;
        top: 0;

        &--minus{
            @include bg-img(icon-savings-minus,svg);
            left: 5px;
        }
        
        &--plus{
            @include bg-img(icon-savings-plus,svg);
            right: 5px;
        }
    }

    &__val{
        font-weight: 600;
        font-size: $fs-medium;

        &--benefit{
            font-size: $fs-xlarge;
            line-height: 0.9;
            margin-top: 0.6rem;
        }
    }
}

.btn-clear-white{
    color: map-get($brand-colours, white);
    border-color: map-get($brand-colours, white);
    &:hover{
        background-color: map-get($brand-colours, brandPrimary);
        border-color: map-get($brand-colours, brandPrimary)
    }
}



  