.alert{
    padding: 2rem;
    &-danger{
        background: map-get($brand-colours, danger);
        border-color: map-get($brand-colours, danger);
        color: #fff;
        a{
            color: #fff;
            text-decoration: underline;
        }
    }
}