// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$primary-font-stack: 'Montserrat','Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 992px,
  'x-large': 1240px,
) !default;

/// image directory
$img-path: "../images";

/// ---------------- Form spacing vars
$mb-form-group: 3rem;
$mb-form-label: 0.2rem;
$mt-form-conditional: 1rem;


/// ---------------- Font sizes
$fs-xsmall:             1.2rem;
$fs-small:              1.4rem;
$fs-primary:            1.6rem;
$fs-medium:             2rem;
$fs-large:              2.4rem;
$fs-xlarge:             2.8rem;
$fs-xxlarge:            4.4rem;
$fs-xxxlarge:           5.2rem;







/// Brand colour variables 
$brand-colours: (
  brandPrimary:        #191847,
  brandPurple:         #533bc9,
  brandBeige:          #edeae6,
  white:               #ffffff,
  yellow:              #e9ca04,
  warning:             #ffb637,
  danger:              #ff0046,
  green:               #44bd32

) !default;


$btn-border-radius: 20px;
$primary-border-width: 2px;
$form-control-border-radius: 3px;

$ft-brand-padding: 3rem;
$focus-box-shadow: 0 0 0 3px map-get($brand-colours, yellow);
