.inset-txt{
    box-shadow: inset 8px 0 0 map-get($brand-colours,brandPurple);
    padding: 1rem 0 1rem 3rem;
    &--warning{
        box-shadow: inset 8px 0 0 map-get($brand-colours,warning)
    }
}

.txt-bold{
    font-weight: 600;
}
.link-on-white{
    color: map-get($brand-colours,brandPurple);
    text-decoration: underline;
}
.icon-col{
    width: 10%;
    text-align: center;
}
.del-icon-link{
    @include bg-img(icon-delete,svg);
    width: 2.4rem;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 24px 24px;
    margin: 0 auto;
}

.img-link{
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 0;

    img{
        width: 100%;
    }
}

.js-hidden{
    display: none;
}

.js-loader-icon {
    display: none!important;
    &--show {
        display: flex!important;
    }
}
.list-style-disc {
    list-style: disc outside;
    margin-left: 2rem;
    li{
        margin: 1rem 0;
        line-height: 1.6;
    }
}

.info-box{
    background-color: rgba(map-get($brand-colours,brandPurple),0.1);
    padding: 2rem 2.5rem;
    box-shadow: inset 8px 0 0 map-get($brand-colours,brandPurple);

    &__data-row{
        border-bottom: 1px solid rgba(map-get($brand-colours,brandPurple),0.1);
        padding: 1rem 0;
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
        &:first-child{
            padding-top: 0;
        }
    }
    &__val{
        font-weight: 600;
    }
}


/* --- SPACING ----------------- */
$space-size: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9); // REM values for spacing
$sides: (top, bottom, left, right); // Margin/padding side
@each $space in $space-size {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}rem !important;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}rem !important;
        }
    }
}