/**
 * Basic typography style for copy text
 */
 body {
    color: map-get($brand-colours,brandPrimary);
    font-family: $primary-font-stack;
    font-size: $fs-primary;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}
  
p{
    margin-bottom: 2rem;
}

.txt-xsmall{
    font-size: $fs-xsmall!important;
}

.txt-small{
    font-size: $fs-small!important;
}

.txt-primary{
    font-size: $fs-primary!important;
}

.txt-medium{
    font-size: $fs-medium!important;
    line-height: 1.6;
}

.txt-large{
    font-size: $fs-large!important;
}

.txt-xlarge{
    font-size: $fs-xlarge!important;
}

.txt-xxlarge{
    font-size: $fs-xxlarge!important;
}

.txt-xxxlarge{
    font-size: $fs-xxxlarge!important;
}

.pg-heading{
    font-size: $fs-xxlarge;
    font-weight: 600;
}

.bold-800{
    font-weight: 800;
}